.archives {
  position: relative;
  max-width: var(--content-width);
  margin: 0 auto;
}
.archives .archives-item {
  display: flex;
  margin-bottom: 1.2rem;
  position: relative;
}
.archives .archives-item .archives-left {
  flex: 0 0 auto;
  box-flex: 0;
}
.archives .archives-item .archives-icon {
  border-radius: 50%;
  color: var(--main-color);
  display: block;
  height: 1.2rem;
  text-align: center;
  width: 1.2rem;
}
.archives .archives-item .archives-icon.icon-lg {
  background: var(--main-color);
  line-height: 1.2rem;
}
.archives .archives-item .archives-content {
  flex: 1 1 auto;
  box-flex: 1;
  padding: 2px 0 2px 0.8rem;
}
.archives .archives-item .archives-icon::before {
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  width: 0.4rem;
}
.archives .archives-item:hover .archives-icon::before {
  border: 0.1rem solid var(--main-color);
  background: var(--main-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.4rem;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  width: 0.4rem;
}
.archives .archives-item::before {
  background: #e7e9ed;
  content: "";
  height: 100%;
  left: 11px;
  position: absolute;
  top: 1.2rem;
  width: 2px;
}
