@import 'css/_defines.styl';

@import 'css/base.styl';
@import 'css/layout.styl';
@import 'css/markdown.styl';
@import 'css/archives.styl';
@import 'css/links.styl';
@import 'css/widget.styl';
@import 'css/element.styl';

@import 'css/_darkmode.styl';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

p
h2
h3
h4
h5
h6
    font-family 'Noto SSerif SC'!important