.links-list {
  margin: 0 auto;
  max-width: 1080px;
}
.links-list .links-content {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  border-radius: $border-card;
  align-items: flex-start;
  line-height: 1.3;
}
.links-list .links-content .links-card {
  display: flex;
  padding: 8px;
  margin: 0 auto;
  margin-top: calc(2.25 * 16px + 32px);
  color: #444;
  background: #fff;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  max-width: var(--link-item-width);
  width: calc(100%/4 - 16px);
}
@media screen and (max-width: 1280px) {
  .links-list .links-content .links-card {
    width: calc(100%/3 - 16px);
  }
}
@media screen and (max-width: 1080px) {
  .links-list .links-content .links-card {
    width: calc(100%/2 - 16px);
  }
}
@media screen and (max-width: 768px) {
  .links-list .links-content .links-card {
    width: calc(100%/1 - 16px);
  }
}
.links-list .links-content .links-left {
  display: flex;
  align-self: center;
}
.links-list .links-content .links-left .avatar {
  width: 64px;
  height: 64px;
  margin: 16px 8px 4px 8px;
  margin-top: calc(-1.25 * 16px - 32px);
  border-radius: 100%;
  border: 2px solid #fff;
  background: #fff;
}
.links-list .links-content .links-right {
  margin: 4px 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.links-list .links-content .links-right p {
  text-align: center;
}
.links-list .links-content .links-right .links-tags-wrapper {
  margin-left: -2px;
  word-break: break-all;
}
.links-list .links-content .links-right p {
  margin: 0;
}
.links-list .links-content .links-right p.links-name {
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
}
.links-list .links-content .links-right p.tags {
  display: inline;
  background: none;
  word-wrap: break-word;
  padding-right: 4px;
}
